.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__button {
    padding: 5px 7px;
    width: 32px;
    font-size: 14px;
    line-height: 20px;
  }
}
