.shop-by-category {
  &__title {
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__image-link {
    display: flex;
    margin-bottom: 24px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__category {
    font-family: var(--mont-semibold);
    display: flex;
    color: var(--c-primary);
    font-size: 20px;
    line-height: 26px;
    transition: color 0.3s ease;

    &:hover {
      color: var(--c-secondary);
    }
  }

  &__amount {
    font-family: var(--mont-medium);
    font-size: 14px;
    line-height: 21px;
    color: var(--c-secondary);
  }
}
