.phones {
  &__title {
    margin-bottom: 8px;
  }

  &__amount {
    font-family: var(--mont-medium);
    margin-bottom: 40px;
    color: var(--c-secondary);
    font-size: 14px;
    line-height: 21px;
  }

  &__filters {
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
  }

  &__pagination {
    margin-top: 40px;
  }
}
