.phones {
  &__title {
    margin-bottom: 8px;
  }

  &__amount {
    margin-bottom: 40px;
    color: var(--c-secondary);
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }

  &__filters {
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
  }
}
