%font-regular {
  font-family: var(--mont-regular);
}

%font-medium {
  font-family: var(--mont-medium);
  font-weight: 500;
}

%font-semibold {
  font-family: var(--mont-semibold);
  font-weight: 600;
}

%font-bold {
  font-family: var(--mont-bold);
  font-weight: 700;
}
