.products-slider {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 40px;
    color: var(--c-primary);
    font-weight: 700;
    letter-spacing: -0.32px;
  }

  & .slick-slide .phone-card {
    margin: 0 6px;
  }

  & .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -60px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--c-icons-secondary);
    transition: 0.3s ease;
    background-color: #fff;

    &:before {
      content: unset;
    }

    @media (max-width: 500px) {
      display: none !important;
    }

    &:hover {
      border-color: var(--c-primary);
    }

    &.slick-prev {
      left: unset;
      right: 54px;
      z-index: 1;
    }

    &.slick-next {
      right: 6px;

    }
  }
}
