@import '../../styles/extends.scss';

.container {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
}

.mainList {
  display: flex;
}

.mainItem:not(:last-child) {
  margin-right: 64px;
}

.mainLink {
  @extend %font-bold;
  display: flex;
  padding: 24px 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--c-secondary);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.sideWrapper {
  display: flex;
  align-items: center;
}

.sideList {
  display: flex;
  align-items: center;
}

.sideItem {
  box-shadow: -1px 0 0 0 var(--c-elements);
  display: flex;
}

.sideLink {
  display: flex;
  padding: 24px;
}

.iconWrapper {
  position: relative;
}

.count {
  @extend %font-semibold;
  position: absolute;
  top: -50%;
  right: -50%;
  border-radius: 50%;
  border: 1px solid var(--c-white);
  background-color: var(--c-red);
  width: 14px;
  height: 14px;
  color: var(--c-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 10px;

  &.countMoreThenTen {
    width: 16px;
    height: 16px;
  }

  &.countMoreThenThousand {
    width: 18px;
    height: 18px;
  }
}

.isActive {
  color: var(--c-primary);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--c-primary);
    bottom: 0;
    left: 0;
  }
}
