@import '../../styles/extends.scss';

.container {
  box-shadow: 0 -1px 0 0 var(--c-elements);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1136px;
}

.list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 64px;
}

.link {
  @extend %font-bold;
  display: flex;
  padding: 40px 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--c-secondary);
  text-transform: uppercase;
  transition: color 0.3s ease;

  &:hover {
    color: var(--c-primary);
  }
}

.onTop {
  display: flex;
  align-items: center;
}

.onTopText {
  @extend %font-medium;
  margin-right: 16px;
  font-size: 12px;
  color: var(--c-secondary);
}
