.container {
  margin-bottom: 80px;
}

.title {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 16px;
  row-gap: 80px;
  margin-bottom: 80px;
}
